.header {
  height: 3.5em;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-logo {
  width: 5em;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
  background-color: #131921;
}
.header-search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 1em;
}
.header-search-input {
  height: 1em;
  padding: 0.75em;
  border: none;
  width: 100%;
}

.header-search-icon {
  padding: 0.2em;
  height: 10em;
  background-color: #cd902c;
}

.header-option-section1 {
  align-items: left;
  font-size: 0.7em;
}

.header-option-section2 {
  font-size: 0.9em;
  font-weight: 700;
}

.header-basket-option {
  display: flex;
  align-items: center;
  color: white;
}

.header-basket-count {
  margin-left: 1em;
  margin-right: 1em;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
}

.header-option {
  display: flex;
  flex-direction: column;
  margin-left: 0.9em;
  margin-right: 0.9em;
  color: white;
}
